<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<body>
    <div class="container">
        <h1>Olá Mundo Bixo!</h1>    
    </div>
</body>

<%- include('./partials/footer.ejs') %>
